.HomePage {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.HomePage__Header {
  text-align: center;
}

.HomePage__Content {
  display: grid;
  grid-template-columns: 50% 50%;

  align-items: center;

  margin-top: 2rem;
}
